.search-result-container {
  margin-top: 50px;
  max-height: 70vh;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}