.search-result-card {
  margin-top: 10px;
  transition: transform .1s;
}

.search-result-card-header:hover {
  transform: scale(1.1);
}

.search-result-card-container {
  background: #404b69;
  color: #ede68a;
  padding: 0px 0px;
}

.search-result-card-header {
  transition: transform .1s;
  cursor: pointer;
  user-select: none;
  padding: 10px 0px;
  font-size: 1.25rem;
  background: #404b69;
  border-radius: 5px;
}

.details {
  border-top: 1px solid #282c34;
  animation: slide-up 0.3s ease;
  padding-bottom: 15px; 
}

@keyframes slide-up {
  0% {
      opacity: 0;
      height: 0;
      transform: translateY(-10px);
      /* transform: rotate(-10deg) translateX(100%) scale(0.1); */
  }
  100% {
      opacity: 1;
      height: 100%;
      transform: translateY(0);
      /* transform: rotate(0deg) translateX(0) scale(1); */
  }
}