.search-box {
  background: #404b69;
  color: #ede68a;
  height: 250px;
  width: inherit;
  border-radius: 3px;
}

.search-title {
  padding: 50px 15px 30px 15px;
}

input::placeholder {
  color: #ede68a;
}

input[type=text] {
  border: 2px solid #ede68a;
  padding: 12px 12px;
  background-color: #404b69;
  color: #ede68a;
  width: 50%;
}

input[type=text]:focus {
  border: 2px solid #5fb9b0;
  outline: none;
}